body {
  @include poz-reset;
  min-width: 320px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: $smallerFont;
  font-weight: 400;
  text-transform: uppercase;
}

body,
html {
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include hidden;
}

.nav__visually-hidden {
  display: none;
}

.nav__shown {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.heading {
  @include poz-reset;
  font-size: $biggerFont;
  font-weight: $thickFont;
}

.page-main {
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: $white;
  background-color: $mainColor;
}

.display-none {
  display: none;
}

.site-list--toggle {
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  margin-right: 6px;
}

.site-list--close {
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  position: relative;
}

.site-list--close::before,
.site-list--close::after {
  content:"";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: $white;
  top: 8px;
  right: 0;
}

.site-list--close::before {
  transform: rotate(45deg);
}

.site-list--close::after {
  transform: rotate(-45deg);
}



@media screen and (min-width: $midScreen) {
  body {
    min-width: 768px;
  }
  .container {
    min-width: 768px;
    max-width: 1200px;
  }

  .nav__visually-hidden {
    display: block;
  }
}

@media screen and (min-width: $pcScreen) {
  body {
    min-width: 1200px;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.likes path {
  fill: inherit;
}

.link:hover {
  background-color: #669EC0;
}

.link:active {
  background-color: #5496BD;
  color: rgba(225,225,225, 0.3);
}

.link:active svg {
  fill:rgba(225,225,225, 0.3);
}
