/* Colors */

$mainColor: #81B3D2;
$lightGray: #eeeeee;
$black: #000000;
$lightBlack: #333333;
$white: #ffffff;
$crossingLine: #d6d6d6;
$formColor: #f2f2f2;
$fomDarkColor: #e6e6e6;

/* Fonts */

$biggerFont: 18px;
$smallerFont: 14px;
$thickFont: 700;
$thinFont: 400;
