.review__form {
  @include poz-reset;
}

.form {
  border: none;
  text-align: start;
  @include poz-reset;
  margin-top: 20px;
  height: min-content;
}

form {
  position: relative;
}

.form__legend {
  font-weight: $thickFont;
  font-size: $biggerFont;
  text-align: center;
  @include poz-reset;
  line-height: 26px;
  margin-bottom: 20px;
}

.legend__container {
  margin-left: auto;
  margin-right: auto;
  @include flex;
  justify-content: center;
}

.form__label {
  font-weight: $thinFont;
  font-size: 14px;
  line-height: 26px;
  color: $lightBlack;
  margin-right: 13px;
  margin-left: 0;
  cursor: pointer;
}

.form__list {
  @include poz-reset;
  list-style: none;
  display: grid;
  row-gap: 20px;
}

.form-info__item {
  display: flex;
}

.form__input {
  font-size: $biggerFont;
  font-weight: $thickFont;
  color: $black;
}

.form__input::placeholder {
  color: black;
}

.form-info__list {
  margin-left: 6.25%;
}

.form__text-input,
.form__email-input,
.form__phone-input {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  background-color: $formColor;
  border: none;
  padding-left: 22px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 4px #e5e5e5;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.form-info__list .form__item{
height: 58px;
align-items: center;
}

.form-contacts__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: max-content;
}

.form-contacts__list li{
  @include flex;
  height: max-content;
  position: relative;
}

.input-icon__container {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: $fomDarkColor;
  top: 31px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-phone {
  width: 18px;
  height: 18px;
}

.icon-mail {
  width: 20px;
  height: 16px;
}

.form__phone-input,
.form__email-input {
  height: 56px;
  margin-top: 5px;
  margin-left: 20px;
}

.form-contacts__list .form__label {
  margin-left: 42px;
}

.greeting-form,
.contacts-form {
  margin-bottom: 25px;
}

.mood-form {
  margin-bottom: 41px;
}

.locations-form {
  margin-bottom: 39px;
}

.mood-form .form__legend {
  margin-bottom: 35px;
}

form .crossing-line {
  @include poz-reset;
  width: 100%;
}

.form-mood__list {
  @include poz-reset;
  gap: 43px;
}

.form-mood__item {
  position: relative;
  @include poz-reset;
}

.mood-form .form__label {
  text-transform: initial;
  font-size: $biggerFont;
  font-weight: $thickFont;
  color: $black;
  @include poz-reset;
  margin-left: 98px;
  position: relative;
}

.mood-form .form__label::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: $formColor;
  left: -78px;
  top: -18px;
  border-radius: 50%;
}

.form__radio-input:checked + .form__label::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: $lightBlack;
  border-radius: 50%;
  position: absolute;
  left: -60px;
  top: 0;
}

.form-mood__item:hover .form__label::before,
.form-place__item:hover .form__label::before{
  background-color: #e5e5e5;
}

.form-mood__item:active .form__label::before,
.form-place__item:active .form__label::before{
  background-color: #d5d5d5;
}

.form-mood__item:active .form__label::after
.form-place__item:active .form__label::after {
  opacity: 0.3;
}

.locations-form .legend__container {
  margin-bottom: 47px;
}

.locations-form .form__legend {
  margin-bottom: 0;
}

.form-place__item {
  @include flex;
}

.form-place__list {
  gap: 50px;
}

.form-place__item .form__label{
  font-size: $biggerFont;
  font-weight: $thickFont;
  color: $black;
  text-transform: initial;
  display: block;
  margin-left: 98px;
  position: relative;
  cursor: pointer;
}

.form__checkbox-input + .form__label::before{
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  background-color: $formColor;
  border-radius: 10%;
  top: -14px;
  left: -78px;
}

.form__checkbox-input:checked + .form__label::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-tick.svg");
  width: 56px;
  height: 56px;
  left: -61px;
  top: 6px;;
  background-repeat: no-repeat;
}

.text-form .form__legend {
  margin-bottom: 15px;
}

.text-form{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.form-message {
  border: none;
  background-color: $formColor;
  width: 100%;
  height: 160px;
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 20px;
  box-sizing: border-box;
  color: $black;
  font-weight: $thickFont;
  font-size: $biggerFont;
}

.form-message::placeholder {
  color: $black;
  font-weight: $thickFont;
  font-size: $biggerFont;
}

.button__form-submit {
  border: none;
  width: 100%;
  min-width: 280px;
  max-width: 324px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 58px;
  font-size: 21px;
  font-weight: $thickFont;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.required-field {
  display: none;
}

.form--success {
  width: 320px;
  position: fixed;
  bottom: 0px;
  background-color: $white;
  margin-left: -160px;
  left: 50%;
}

.form--success .heading {
  margin-top: 38px;
  margin-bottom: 30px;
}

.info--success {
  width: 230px;
  @include center;
  line-height: 24px;
  margin-bottom: 30px;
}

.link--success__container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $lightGray;
}

.link--success {
  width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  font-weight: $thickFont;
}

@media screen and (min-width: $midScreen) {

  form .crossing-line {
    display: none;
  }

  form {
    @include flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
  }

  .form {
    position: relative;
  }

  .crossing-line--vertical {
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
    position: absolute;
    left: 50%;
    top: 23px;
  }

  .mood-form {
    order: -1;
    width: 50%;
    margin-bottom: 0;
  }

  .greeting-form {
    width: 50%;
    margin-bottom: 0;
  }

  .greeting-form .form__legend {
    margin-left: 58px;
  }

  .form-info__list {
    margin-left: 58px;
  }

  .contacts-form {
    width: 100%;
    margin-top: 67px;
  }

  .contacts-form .form__legend,
  .locations-form .form__legend,
  .text-form .form__legend {
    @include center;
  }

  .locations-form .form__legend {
    width: 290px;
    text-align: center;
  }

  .locations-form {
    width: 100%;
  }

  .text-form {
    width: 100%;
  }

  .form__legend {
    font-size: 21px;
    text-align: left;
    margin-left: 20px;
  }

  .mood-form .form__legend {
    margin-bottom: 72px;
  }

  .greeting-form .form__legend {
    margin-bottom: 58px;
  }

  .form-mood__list {
    @include poz-reset;
    gap: 52px;
  }

  .contacts-form {
    margin-top: 72px;
    margin-bottom: 0;
  }

  .locations-form {
    margin-top: 51px;
    margin-bottom: 0;
  }

  .locations-form .form-place__list {
    @include flex;
    flex-direction: row;
    @include center;
    width: 75%;
    gap: 0;
    margin-bottom: 0;
  }

  .form-place__item {
    width: 50%;
    height: 88px;
    @include flex;
    align-items: center;
  }

  .text-form {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .text-form .form__legend {
    margin-bottom: 0;
  }

  .text-form .legend__container {
    margin-bottom: 72px;
  }

  .button__form-submit {
    @include poz-reset;
    margin-right: auto;
    max-width: 324px;
  }

  .required-field {
    display: block;
    font-size: 14px;
    color: $lightBlack;
  }

  .field-bottom__container {
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    @include flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 61px;
  }

  .legend__container {
    @include flex;
    align-items: center;
  }

  .contacts-form .form__legend {
    margin-bottom: 0px;
  }

  .contacts-form .legend__container {
    margin-bottom: 20px;
  }

  .crossing-line--left {
    height: 1px;
    background-color: #dbdbdb;
    flex-grow: 1;
    order: -1;
    margin-right: 46px;
    margin-left: 20px;
  }

  .crossing-line--right {
    height: 1px;
    background-color: #dbdbdb;
    flex-grow: 1;
    order: 1;
    margin-left: 46px;
    margin-right: 20px;
  }
}

@media screen and (min-width: $pcScreen) {
  form {
    margin-top: 56px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .form__legend {
    margin-left: 100px;
  }

  .contacts-form .legend__container {
    margin-bottom: 71px;
  }

  .form-contacts__list {
    @include flex;
    flex-direction: row;

    margin-top: 0;
  }

  .form-contacts__item--phone,
  .form-contacts__item--email {
    width: 50%;
    margin: 0;
    @include flex;
  }

  .contacts-form .form__label {
    width: max-content;
    @include flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-left: 20px;
  }

  .contacts-form .form__label--email {
    margin-left: 0px;
    margin-right: 14px;
  }

  .form-contacts__item--email {
    margin-left: 0;
    align-items: center;
  }

  .form__phone-input,
  .form__email-input {
    width: 257px;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .form__email-input {
    flex-grow: 1;
  }

  .pc-phone {
    display: none;
  }

  .input-icon__container {
    top: 5px;
    right: 60px;
  }

  .form-contacts__item--email .input-icon__container {
    right: 20px;
  }

  .form-place__item {
    @include poz-reset;
    width: 25%;
  }

  .locations-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .locations-form .legend__container {
    width: 100%;
  }

  .form-place__list {
    flex-grow: 1;
  }

  .button__form-submit {
    max-width: 480px;
  }
}
