.booking {
  padding-top: 33px;
  padding-bottom: 49px;
}

.booking__heading {
  font-size: 21px;
}

.booking__description {
  @include poz-reset;
  margin-top: 20px;
  line-height: 24px;
  color: $lightBlack;
  margin-bottom: 45px;
  max-width: 265px;
  @include center;
}

.booking__link {
  padding: 0 46px;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  font-weight: $thickFont;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  display: block;
  width: 87.5%;
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
}

.mid-screen-break {
  display: none;
}

@media screen and (min-width: $midScreen) {
  .booking {
    padding-top: 58px;
    padding-bottom: 58px;
    width: 458px;
    @include center;
  }

  .booking__heading {
    font-size: 30px;
  }

  .mid-screen-break {
    display: block;
  }

  .booking__description {
    max-width: 435px;
  }
}
