.description {
  @include poz-reset;
  margin-top: 32px;
}

.description__title {
  font-weight: 700;
  line-height: 26px;
  @include poz-reset;
  font-size: $biggerFont;
}

.description__info {
  @include poz-reset;
  font-weight: $thinFont;
  font-size: $smallerFont;
  line-height: 26px;
  margin-top: 30px;
  color: $lightBlack;
}
